@{
    ViewBag.Title = "Index";
}
<h2>Welcome to course register system!</h2>
<h4>This system is for Chia - Hua Lin to practice MVC.</h4>
<h4>Source Code: <a href="@ViewBag.github">@ViewBag.github</a></h4>


